<div class="masker">
    <div class="tokenarthelper description">
    <section class="window-content">
        <h1>{{localize "tokenarthelper.CustomMaskEditor.title"}}</h1>
        <p>{{localize "tokenarthelper.CustomMaskEditor.add"}}</p>
        <p>{{localize "tokenarthelper.CustomMaskEditor.remove"}}</p>
        <p>{{localize "tokenarthelper.CustomMaskEditor.brush"}}</p>
        <div id="mask-editor-buttons" class="buttons">
            <button data-action="ok" class="tokenarthelper ui button" title="{{localize "tokenarthelper.CustomMaskEditor.save"}}"><i class="fas fa-check"></i> {{localize "tokenarthelper.label.Apply"}}</button>
            <button data-action="cancel" class="tokenarthelper ui button" title="{{localize "tokenarthelper.CustomMaskEditor.close"}}"><i class="fas fa-times"></i> {{localize "tokenarthelper.label.Cancel"}}</button>
        </div>
    </section>
    </div>
</div>
